{% extends "/views/base.html" %}

{% block main %}
<div class="docs">
  <div class="contained">
    <div class="grid-2-at-medium">
      <div class="one-fourth">
        <div class="nav">
          {% for category, docs in g.categories(g.collection('docs')) %}
          <div class="nav-title">{{category}}</div>
          <ul>
            {% for item in docs %}
            <li{% if doc == item %} class="active"{% endif %}>
            <a href="{{item.url.path}}">{{item.titles('nav')}}</a>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>
      <div class="three-fourths">
        {% block content %}
        {{doc.html|safe}}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
