@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin sm {
  @media (max-width: $sm-breakpoint) {
    @content;
  }
}

@mixin sm-up {
  @media (min-width: $sm-breakpoint) {
    @content;
  }
}
