.push--bottom
  margin-bottom: 40px !important

.push-lg--bottom
  margin-bottom: 60px !important

.push-xl--bottom
  margin-bottom: 80px !important

.push-xx--bottom
  margin-bottom: 100px !important

.push-sm--top
  margin-top: 20px !important

.push-xs--bottom
  margin-bottom: 10px !important

.push-xs--top
  margin-top: 10px !important

.push-sm--bottom
  margin-bottom: 20px !important

.push--bottom--at-mobile
  +sm
    margin-bottom: 40px !important

.push-sm--bottom--at-mobile
  +sm
    margin-bottom: 20px !important

.push-sm--at-mobile-up // TODO
  +sm-up
    margin-top: 20px !important

.push-xs--right
  margin-right: 10px !important

.push-sm--right
  margin-right: 20px !important

.push--top
  margin-top: 40px !important

.push-lg--top
  margin-top: 60px !important

.flush--bottom
  margin-bottom: 0

.flush--top
  margin-top: 0

.flush--right
  margin-right: 0

.locked
  position: relative

  &--right
    position: absolute
    right: 0

.width--wide
  width: 100%

.aligner
  display: table
  height: 100%
  width: 100%

  .aligned
    display: table-cell
    vertical-align: middle
    width: 100%

.visibility
  &--half
    opacity: .5

  &--none
    opacity: 0

.sm--hide
  +sm
    display: none

.scroll--none
  overflow-x: hidden
  overflow-y: scroll
  position: fixed
  width: 100%
